.homePage {
    display: flex;
    justify-content: space-around;
    margin: 5% 5% 0% 1%;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    
}

.homePage Form {
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 2%;
    color: rgb(9, 47, 130);
}